.privacy-policy {
  background-color: #ebebeb;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 20px;
}
.privacy-policy i {
  font-size: 50px;
  color: #dc3545;
}
.privacy-policy h4 {
  font-weight: bold;
}
.policy-text {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 70px;
}
.policy-text p {
  font-size: 15px;
}
.service-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}
.service-card h3 {
  transition: color 0.3s ease;
  font-weight: bold;
  text-align: start;
  cursor: pointer;
}
.service-card h3:hover {
  color: red;
}
.service-card img {
  max-width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  cursor: pointer;
}
.service-card p {
  font-size: 14px;
  color: #666;
  text-align: start;
}
.service-card a {
  font-weight: bold;
  color: #053769;
  text-decoration: none;
}
.service-card .btn {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #053769;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  margin-right: 89%;
}
.service-card .btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10;
  width: 0;
  height: 1.5px;
  background-color: #0c0b0b;
  transition: width 0.6s ease;
}
.service-card .btn:hover::before {
  width: 85%;
}
